---
import Git from "@/icons/git.astro";
import Arrow from "@/icons/Arrow.astro";
import Section from "../Section.astro";

import { projects } from "@cv";
---

<Section className={Astro.props.className} title="Réalisations">
	<div class="grid grid-cols-1 gap-3 md:grid-cols-2 print:flex print:flex-col">
		{
			projects.map(({ url, description, highlights, name, isActive, github }) => {
				return (
					<div role="contentinfo" class="grid-span-1 ring-skin-muted relative flex flex-col rounded-md bg-skin-button-muted/50 p-5 shadow-sm ring-1">
						<div class="flex items-center justify-between space-x-[10px]">
							<div class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M19.5 7A9 9 0 0 0 12 3a8.99 8.99 0 0 0-7.484 4"/><path d="M11.5 3a17 17 0 0 0-1.826 4M12.5 3a17 17 0 0 1 1.828 4M19.5 17a9 9 0 0 1-7.5 4a8.99 8.99 0 0 1-7.484-4"/><path d="M11.5 21a17 17 0 0 1-1.826-4m2.826 4a17 17 0 0 0 1.828-4M2 10l1 4l1.5-4L6 14l1-4m10 0l1 4l1.5-4l1.5 4l1-4M9.5 10l1 4l1.5-4l1.5 4l1-4"/></g></svg>
								<div class="flex items-center gap-[6px]">
									{isActive ? (
										<a class="hover:text-skin-hue group flex items-center gap-[6px] text-lg decoration-dotted underline-offset-[5px] hover:underline" href={url} title={`Consulter : ${name}`} target="_blank">
											{name}
											<span class="text-skin-hue transition ease-linear group-hover:-translate-y-0.5 group-hover:translate-x-0.5">
												<Arrow />
											</span>
										</a>
									) : (
										<span>{name}</span>
									)}
								</div>
							</div>

							{github && (
								<a href={github} title="View slug repository on GitHub" target="_blank" rel="noopener" class="opacity-75 transition-opacity duration-100 hover:opacity-100">
									<Git />
								</a>
							)}
						</div>

						<p class="py-3 text-sm text-skin-base">{description}</p>
						<ul class="mt-1 text-sm text-skin-muted">
							{highlights.map((highlight) => {
								return <li>{highlight}</li>;
							})}
						</ul>
					</div>
				);
			})
		}
	</div>
</Section>

<style>
	ul {
		@apply ml-4 list-disc space-y-1;
		li {
			@apply text-skin-muted;
		}
	}

	footer {
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		font-size: 0.6rem;
	}

	footer span {
		border-radius: 6px;
		background: #eee;
		color: #444;
		font-size: 0.6rem;
		font-weight: 500;
		padding: 0.2rem 0.6rem;
	}
	@keyframes flicker {
		0% {
			opacity: 1;
		}
		50% {
			opacity: 0.25;
		}
		100% {
			opacity: 1;
		}
	}
</style>
